<section class="container-card">
  <div class="box">
    LOREM <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, porro?
    Consectetur minima animi sunt voluptatem, quae doloribus quibusdam, sapiente
    sint dolorum quam deleniti minus commodi soluta aspernatur adipisci quasi?
    Aut!
  </div>
  <div class="box">
    LOREM <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, porro?
    Consectetur minima animi sunt voluptatem, quae doloribus quibusdam, sapiente
    sint dolorum quam deleniti minus commodi soluta aspernatur adipisci quasi?
    Aut!
  </div>
  <div class="box">
    LOREM <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, porro?
    Consectetur minima animi sunt voluptatem, quae doloribus quibusdam, sapiente
    sint dolorum quam deleniti minus commodi soluta aspernatur adipisci quasi?
    Aut!
  </div>
  <div class="box">
    LOREM <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, porro?
    Consectetur minima animi sunt voluptatem, quae doloribus quibusdam, sapiente
    sint dolorum quam deleniti minus commodi soluta aspernatur adipisci quasi?
    Aut!
  </div>
</section>
